{% extends 'base.html.twig' %}

{% block title %}Tableau Associatif{% endblock %}

{% block body %}
    <ol>
        {% if variable is iterable %}
            <li>
                <p>Syntaxe de PHP</p>
                <p>La personne s'appelle {{ variable["prenom"] }} {{ variable["nom"] }}</p>
            </li>
            <li>
                <p>Foreach</p>
                {% for indice, valeur in variable %}
                    <ul>
                        <li> {{ indice }} : {{ valeur }} </li>
                    </ul>
                {% endfor %}
            </li>
            {% else %}
                <li>
                    <p>Syntaxe TWIG (JavaScript)</p>
                    <p>La personne s'appelle {{ variable.prenom }} {{ variable.nom }}</p>
                </li>
        {% endif %}
    </ol>
{% endblock %}
